# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_LILY_LEFT
	def_bool $(shields_list_contains,lily_left)

config SHIELD_LILY_RIGHT
	def_bool $(shields_list_contains,lily_right)
